{% extends "::fight/master.html.twig" %}

{% block main %}
    <div class="jumbotron">
        <h1>Dawn of Justice</h1>
        <p>Pit 2 fighters against each other in the greatest galdiator match up in the history of the world.</p>
        <p><a href="{{ path('fighters') }}" class="btn btn-primary">Select your fighters</a></p>
    </div>
{% endblock %}
