{% extends "AppBundle::master.html.twig" %}

{% block title %}AppBundle:Fighter:create{% endblock %}

{% block main %}
    <h1>Welcome to the create new fighter page</h1>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
